.movies-card {
  width: 360px;
}

.movies-card__image-wrapper {
  position: relative;
  max-height: 201px;
}

.movies-card__image-wrapper:hover .movies-card__checkbox-wrapper {
  display: block;
}

.movies-card__button-wrapper {
  text-align: center;
}

.movies-card__checkbox-input {
  display: none;
}

.movies-card__saved-checkbox-input {
  display: none;
}

.movies-card__checkbox-wrapper {
  display: none;
  position: absolute;
  right: 14px;
  top: 14px;
  color: inherit;
  background-color: #313131;
  border-radius: 30px;
  font-weight: normal;
  font-size: 10px;
  line-height: 9px;
  color: #fff;
  padding: 6px 7px;
  cursor: pointer;
}

.movies-card__checkbox-input:checked ~ .movies-card__checkbox-wrapper {
  background-color: #EE3465;
  font-size: 0px;
  width: 21px;
  height: 21px;
  padding: 0;
  background-image: url(../../images/accept-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.movies-card__checkbox-input:checked ~ .movies-card__checkbox-wrapper:hover {
  background-color: #313131;
  background-image: url(../../images/remove-icon.svg);
}

.movies-card__saved-checkbox-input:checked ~ .movies-card__checkbox-wrapper {
  background-color: #313131;
  background-image: url(../../images/remove-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0px;
  width: 21px;
  height: 21px;
  padding: 0;
}

.movies-card__checkbox-wrapper::before {
  content: '';
  position: absolute;
}

.movies-card__image {
  width: 100%;
  height: 201px;
  margin: 0 auto;
  border-radius: 6px;
  object-fit: fill;
  cursor: pointer;
}

.movies-card__description-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}

.movies-card__name {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  width: 250px;
  color: #fff;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movies-card__duration {
  font-weight: normal;
  font-size: 11px;
  line-height: 10px;
  color: #8B8B8B;
  background-color: #2F2F2F;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  padding: 3px 4px;
}

@media screen and (max-width: 1279px) {
  .movies-card {
    width: 339px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card {
    width: 300px;
  }

  .movies-card__image-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .movies-card__name {
    width: 240px;
  }
}