.techs {
  padding: 75px 70px 100px;
  background-color: #272727;
}

.techs__title {
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  padding: 0 0 23px 0;
  margin: 0 0 75px 0;
  border-bottom: 1px solid #dadada;
}

.techs__container {
  text-align: center;
}

.techs__subtitle {
  margin: 0;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  color: #fff;
}

.techs__description {
  width: 460px;
  margin: 26px auto 100px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.techs__list {
  width: 690px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
}

.techs__item {
  margin: 0;
  background-color: #303030;
  border-radius: 10px;
  width: 90px;
  padding: 21px 0 22px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}

@media screen and (max-width: 1279px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__description {
    font-size: 12px;
    line-height: 18px;
    margin: 22px auto 83px;
  }

  .techs__item {
    font-size: 12px;
    line-height: 15px;
    width: 84px;
    padding: 21px 0;
  }
}

@media screen and (max-width: 767px) {
  .techs {
    padding: 70px 18px;
    background-color: inherit;
  }

  .techs__title {
    font-size: 18px;
    line-height: 22px;
  }

  .techs__subtitle {
    font-size: 30px;
    line-height: 36px;
  }

  .techs__description {
    width: 292px;
    font-size: 11px;
    line-height: 16px;
    margin: 24px auto 50px;
  }

  .techs__list {
    width: 178px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .techs__item {
    font-size: 14px;
    line-height: 17px;
  }
}
